{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container center-wrapper">
    <div class="row">
        <div class="col mx-auto">
            <h2>Delete Review</h2>
            <p>Are you sure you want to delete the review for <strong>{{ review.album_name }}</strong></p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'my_reviews' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}