{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <h2><strong>{{ review.album_name }}</strong></h2>
            <h3>{{ review.artist_name }}</h3>
            <h2>{{ review.score }}/5</h2>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ review.author.username }}</p>
            <div class="content">
                <p>{{ review.content | safe }}</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}