{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
{% load static %}

<div class="container center-wrapper">
  <div class="row">
    <div class="col mx-auto">
      <h2>{% trans "Sign Out" %}</h2>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="button-wrapper">
          <button type="submit">{% trans 'Sign Out' %}</button>
          <a href="{% url 'home' %}" class="btn button cancel-button">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock content %}