.row {
    display: flex;
    flex-wrap: wrap;
}

/* Ensure all cards have the same height */
.card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
    /* Forces equal height */
}

/* Ensure each card takes up equal space */
.col-md-4 {
    display: flex;
}

.card {
    width: 100%;
}

.add-review-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(150 150 150);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}