html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;

}

.col-md-4 {
    display: flex;
}

.card {
    width: 100%;
}

.add-review-icon-wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    background-color: lightgray;
}

.add-review-icon-wrapper i {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(24, 24, 24);
    font-size: calc(0.5rem + .9vw);

}

a {
    text-decoration: none;
    color: black;
}

.add-review-icon-a {
    padding-top: 5px;
}

.button-wrapper {
    display: flex;
    gap: 5%;

}

.cancel-button {
    border: solid black 2px;
    padding: 1px 6px;
    border-radius: 0;
}

.button-wrapper>button:hover {
    border: solid 2px transparent;
}