.row {
    display: flex;
    flex-wrap: wrap;
}

/* Ensure all cards have the same height */
.card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
    /* Forces equal height */
}

/* Ensure each card takes up equal space */
.col-md-4 {
    display: flex;
}

.card {
    width: 100%;
}

.add-review-icon-wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    background-color: lightgray;
}

.add-review-icon-wrapper i {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(24, 24, 24);
    font-size: calc(0.5rem + .9vw);

}

a {
    text-decoration: none;
    color: black;
}

.add-review-icon-a {
    padding-top: 5px;
}